{% extends 'admin_index.html' %}

{% block css %}

{% endblock %}

{% block main_content %}

<div class="card">
                <div class="card-header">
                  <h4>职工列表</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped ">
                      <tbody>
                      <tr>
                        <th style="width:15%;">员工姓名</th>
                          <th style="width:15%;">职位</th>
                        <th style="width:25%;">联系电话</th>
                        <th style="width:25%;">出生年月</th>
                        <th style="width:35%;">身份证号码</th>
                      </tr>
                      {% for user in all_user %}
                      <tr>
                            <td>
                                <div class="media-title">
                                    {{user.user_name}}
                                </div>
                            </td>
                            <td>
                                {{user.pow.pow_name}}
                            </td>
                            <td>
                                {{ user.phone_number }}
                            </td>
                            <td>
                                {{ user.birthday }}
                            </td>
                            <td>
                                {{ user.id_card }}
                            </td>
                      </tr>
                          {% endfor %}
                    </tbody></table>
                  </div>
                </div>
              </div>

{% endblock %}

{% block JS %}

{% endblock %}