{% extends 'admin_index.html' %}


{% block css %}

    <meta name="csrf-token" content="{{ csrf_token() }}">

  <link rel="stylesheet" href="assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
  <link rel="stylesheet" href="assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">


{% endblock %}

{% block main_content %}

        <div class="row">
              <div class="col-12 col-sm-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>实时监控</h4>
                  </div>
                  <div class="card-body">

                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>监控点信息</h4>
                  </div>
                  <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab"
                          aria-controls="home" aria-selected="true">基本资料</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab"
                          aria-controls="profile" aria-selected="false">监控日志</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab"
                          aria-controls="contact" aria-selected="false">生产厂家</a>
                      </li>
                    </ul>
                    <div class="tab-content tab-bordered" id="myTab3Content">
                      <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                      <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                        Sed sed metus vel lacus hendrerit tempus. Sed efficitur velit tortor, ac efficitur est lobortis
                        quis. Nullam lacinia metus erat, sed fermentum justo rutrum ultrices. Proin quis iaculis tellus.
                        Etiam ac vehicula eros, pharetra consectetur dui. Aliquam convallis neque eget tellus efficitur,
                        eget maximus massa imperdiet. Morbi a mattis velit. Donec hendrerit venenatis justo, eget
                        scelerisque tellus pharetra a.
                      </div>
                      <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                        Vestibulum imperdiet odio sed neque ultricies, ut dapibus mi maximus. Proin ligula massa,
                        gravida in lacinia efficitur, hendrerit eget mauris. Pellentesque fermentum, sem interdum
                        molestie finibus, nulla diam varius leo, nec varius lectus elit id dolor. Nam malesuada orci non
                        ornare vulputate. Ut ut sollicitudin magna. Vestibulum eget ligula ut ipsum venenatis ultrices.
                        Proin bibendum bibendum augue ut luctus.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    <div class="row">
    <div class="col-12 col-sm-6 col-lg-6">
        <div class="card">
                  <div class="card-header">
                    <h4>历史视频回放</h4>
                    <div class="card-header-action">
                      <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i
                          class="fas fa-minus"></i></a>
                    </div>
                  </div>
                  <div class="collapse show" id="mycard-collapse">
                    <div class="card-body">
                        <input type="date" class="form-control" id="mp4_choose">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                        <div class="video-box" id="video-box">

                    <video height="400" width="740" controls="controls">
                    <!-- <source src="mp4/if_you.mp4" type="video/mp4" id="player"/>  -->
                        <source src="mp4/if_you.mp4" type="video/mp4" id="player"/>
                    </video>

                    </div>
                    </div>
                    <div class="card-footer">
                      Card Footer
                    </div>
                  </div>
                </div>
    </div>
     <div class="col-12 col-sm-6 col-lg-6">
    <div class="card">
                  <div class="card-header">
                    <h4>My Picture</h4>
                    <div class="card-header-action">
                      <a href="#" class="btn btn-primary">View All</a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="mb-2 text-muted">Click the picture below to see the magic!</div>
                    <div class="chocolat-parent">
                      <a href="assets/img/image-gallery/3.png" class="chocolat-image" title="Just an example">
                        <div data-crop-image="285">
                          <img alt="image" src="assets/img/image-gallery/3.png" class="img-fluid">
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
     </div>
    </div>
{% endblock %}

{% block JS %}
  <script src="assets/bundles/chocolat/dist/js/jquery.chocolat.min.js"></script>

      <script src="assets/bundles/cleave-js/dist/cleave.min.js"></script>
  <script src="assets/bundles/cleave-js/dist/addons/cleave-phone.us.js"></script>
  <script src="assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js"></script>
  <script src="assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
  <script src="assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
  <script src="assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
  <script src="assets/bundles/select2/dist/js/select2.full.min.js"></script>
  <script src="assets/bundles/jquery-selectric/jquery.selectric.min.js"></script>

<script type="text/javascript">
    var csrftoken = "{{ csrf_token() }}"
</script>

    <script type="text/javascript">

    var csrftoken = $('meta[name=csrf-token]').attr('content')
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})

    $(document).ready(function () {
        $("#mp4").bind("input propertychange",function (event) {

            var time = $("#mp4").val();
            var data = {
                'time' : time
            };


            $("#mp4").load("/test",data,function (data_tem) {


                $("#player").remove();

                // sourceDom = $("<source src=\""+ src +"\">");
                    sourceDom = $("<source src= \"mp4/love.mp4\" id='player'>");
                   $("#video-box video").append(sourceDom);
                   $("#video-box").show();
                   // 自动播放
                   $("#video-box video")[0].play()

                alert(time)
            })
        })
    })

    </script>

    <script>

     $(document).ready(function () {
        $('#mp4_choose').on('input propertychange', function () {
            $.getJSON('/history_video',{
                date:$('#date').val()
            },function (data) {
                $('#video-box').html('<video id="v1" width="320" height="240" controls="controls">\n' +
                '<source src= '+data.src+' type="video/mp4"></source>'
                +' </video>');

            $('#v1').show();
            });

        })
    });

    </script>

{% endblock %}